<div class="section section-basic">
    <div class="container">
        <h3 class="title">Cargar Facturas</h3>
        <div class="row">
            <div *ngIf="showMessage">
                <ngb-alert [type]="alerta.type"  [dismissible]="false" >
                    <div class="container">
                        <div class="alert-wrapper">
                            <button type="button" name="button" class="close" (click)="closeAlert(alerta)">
                              <span aria-hidden="true">
                                  <i class="now-ui-icons ui-1_simple-remove"></i>
                              </span>
                            </button>
                            <div class="message">
                                <ng-container *ngIf="alerta.icon">
                                  <div class="alerta-icon">
                                      <i class="now-ui-icons {{alerta.icon}}"></i>
                                  </div>
                                </ng-container>
                                <strong>{{alerta.strong}} </strong>{{ alerta.message }}
                            </div>
                        </div>
                    </div>
                </ngb-alert>
            </div>
            
        </div>
        <div class="row">


            <form #formFactura="ngForm" (ngSubmit)="onSubmit()">
                <p>
                    <label class="control-label"><strong>Prefix</strong></label>
                    <input type="text" #txtprefix="ngModel" name="txtprefix" [(ngModel)]="invoice.prefix" required
                        class="form-control"
                        pattern="^[a-zA-Z0-9]*$">
                    <span class="campo_obligatorio" *ngIf="!txtprefix.valid && txtprefix.touched && sendForm">El prefix es obligatorio</span>
                    <span class="campo_obligatorio" *ngIf="!txtprefix.valid && txtprefix.errors.pattern && sendForm">Campo alfanumérico sin espacios</span>
                </p>
                <p>
                    <label class="control-label"><strong>Consecutivo</strong></label>
                    <input #txtcosecutivo="ngModel" name="txtcosecutivo" [(ngModel)]="invoice.consecutive" required
                        class="form-control"
                        pattern="^[0-9]*$"/>
                    <span class="campo_obligatorio" *ngIf="!txtcosecutivo.valid && txtprefix.touched && sendForm">La txtcosecutivo es obligatorio</span>
                    <span class="campo_obligatorio" *ngIf="!txtcosecutivo.valid && txtcosecutivo.errors.pattern && sendForm">Campo numérico</span>
                </p>
                <p>
                    <label class="control-label"><strong>Ubl</strong></label>
                    <input #txtubl="ngModel" name="txtubl" [(ngModel)]="invoice.ubl" required class="form-control" pattern="^[a-zA-Z0-9]*$"/>
                    <span class="campo_obligatorio" *ngIf="!txtubl.valid && txtubl.touched && sendForm">La ubl es obligatorio</span>
                    <span class="campo_obligatorio" *ngIf="!txtubl.valid && txtubl.errors.pattern && sendForm">Campo alfanumérico sin espacios</span>
                </p>
                <div class="row">
                    <div class="col-lg-12 form-group">
                        <dl class="dl-horizontal">
                            <dt><label class="control-label"><strong>Archivo Adjunto</strong></label></dt>
                            <dd>
                                <div class="form-group">
                                    <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
                                </div>
                            </dd>
                        </dl>
                    </div>
                </div>
                <input type="submit" name="" value="Guardar" [disabled]="!formFactura.form.valid" class="btn btn-primary">
            </form>


        </div>
    </div>
</div>